html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-amatic {
font-family: 'Amatic SC', sans-serif;
}

.font-jost {
font-family: 'Jost', sans-serif;
}

.bg-lightgray-1 {
  background: #f6f5f5;
}

.bg-lightgray-2 {
  background: #d3d3d3;
}

.bg-lightgray-3 {
  background: #636793;
}

.message {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.scroll {
height: calc(100vh + 0px); 
overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3a62f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
